@using WebOrderTbRestaurant.Models.EF;
@using PagedList.Mvc;
@using WebOrderTbRestaurant.Models.Business;
@model PagedList.IPagedList<Food>
@{
    var key = ViewBag.KeyWord;
    ViewBag.Title = key;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Favorite = ViewBag.Favorite as List<Favorite>;
    var link = "/tim-kiem?keyword=" + key;
    var strfilter = "type=" + ViewBag.Type + "&order=" + ViewBag.Order;
}

<div class="breadcumb-area" style="background-image: url(../../Assets/Client/img/bg-img/breadcumb.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumb-title text-center">
                    <h2>Tìm kiếm: @key</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb-nav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tìm kiếm: @key</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="social_icon_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-social-area d-flex">
                    <div class="single-icon" style="padding-top: 5px;">
                        <a><span>Sắp xếp theo:</span></a>
                    </div>
                    <div class="single-icon">
                        <a href="@link&type=name&order=a-to-z" class="btn btn-outline-primary @(strfilter == "type=name&order=a-to-z" ? "active" : "")">Từ A đến Z</a>
                    </div>
                    <div class="single-icon">
                        <a href="@link&type=name&order=z-to-a" class="btn btn-outline-primary @(strfilter == "type=name&order=a-to-z" ? "active" : "")">Từ Z đến A</a>
                    </div>
                    <div class="single-icon">
                        <a href="@link&type=price&order=desc" class="btn btn-outline-primary @(strfilter == "type=name&order=a-to-z" ? "active" : "")">Giá từ cao xuống thấp</a>
                    </div>
                    <div class="single-icon">
                        <a href="@link&type=price&order=esc" class="btn btn-outline-primary @(strfilter == "type=name&order=a-to-z" ? "active" : "")">Giá từ thấp đến cao</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****** Breadcumb Area End ****** -->
<!-- ****** Archive Area Start ****** -->
<section class="archive-area section_padding_80">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                item.MetaTitle = item.MetaTitle.Replace(" ", "");
                var url = "/mon-an/" + item.MetaTitle.Trim() + "-" + item.ID;
                <!-- Single Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-post wow fadeInUp">

                        <!-- Post Thumb -->
                        <div class="post-thumb" style="margin-bottom:-15px;">
                            <a href="@url">
                                <img src="~/Assets/Client/img/food/@item.Image" alt="" style="height:300px;width:450px;">
                            </a>

                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    <div class="post-author">
                                        <a href="/my-menu?foodId=@item.ID&quantity=1"><i class="fa fa-shopping-cart" aria-hidden="true" title="Thêm vào bàn của bạn"></i></a>
                                    </div>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="@url">@item.CreatedDate.Value.ToString("dd-MM-yyyy")  </a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-comment-share-area d-flex">
                                <!-- Post Favourite -->
                                <div class="post-favourite">
                                    @if (CookiesManage.Logined())
                                    {
                                        var islike = Favorite.Count(x => x.Food_ID == item.ID && x.User_ID == CookiesManage.GetUser().ID) > 0 ? true : false;
                                        <a href="javascript:void(0)" class="btnFavorite" data-userid="@CookiesManage.GetUser().ID" data-foodid="@item.ID">
                                            <i class="fa @(islike ? "fa-heart" : "fa-heart-o") fa-fw" aria-hidden="true"></i>
                                            @(Favorite.Count(x => x.Food_ID == item.ID) > 0 ? Html.Raw("<span>" + Favorite.Count(x => x.Food_ID == item.ID) + "</span>") : Html.Raw("<span></span>"))
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" class="btnLogin">
                                            <i class="fa fa-heart-o fa-fw" aria-hidden="true"></i>
                                            @(Favorite.Count(x => x.Food_ID == item.ID) > 0 ? Html.Raw("<span>" + Favorite.Count(x => x.Food_ID == item.ID) + "</span>") : Html.Raw("<span></span>"))
                                        </a>
                                    }

                                </div>
                            </div>
                            <a href="@url">
                                <h4 class="post-headline">@item.Name</h4>
                            </a>
                        </div>
                    </div>
                </div>

            }

            <div class="col-12">
                <div class="pagination-area d-sm-flex mt-15">
                    <nav aria-label="#">
                        <ul class="pagination">
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Search", new { keyword = key,type = ViewBag.Type, order = ViewBag.Order, Page = Model.PageNumber - 1 })">Sau <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Search", new { keyword = key, type = ViewBag.Type, order = ViewBag.Order, Page = i })">@i</a>
                                </li>
                            }

                            @if (Model.PageNumber < Model.PageCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Search", new { keyword = key, type = ViewBag.Type, order = ViewBag.Order, Page = Model.PageNumber + 1 })">Tiếp <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </li>
                            }

                        </ul>
                    </nav>
                    <div class="page-status">
                        <p>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section jsFooter{

    <script src="~/Assets/Client/js/favorite.js"></script>
}
